{% extends 'base.html' %}
{% block title %}
Invoice
{% endblock %}
{% block content %}
<h1>{{country}}</h1>
<h3>{{coffee}}</h3>
{% for c in exports %}
<table class="table table-bordered">
    {% csrf_token %}
    <tr>
        <td>Coffee name: {{c.Coffee_name}}</td>
    </tr>
    <tr>
        <td>Country name: {{c.name}}</td>
    </tr>
    <tr>
        <td>Coffee Rate in $: {{c.E_coffeerate}}</td>
    </tr>
    <tr>
        <td>Coffee Rate in INR: {{c.E_rate_in_INR}}</td>
    </tr>
    <tr>
        <td>Custom duty charges: {{c.E_IGST}}</td>
    </tr>  
    <tr>   
        <td>Shipping Charges: {{c.E_shipping_charges}}</td>
    </tr>
    <tr>   
        <td>Total charges in INR: {{c.E_total_charges}}</td>
    </tr>
    <tr>   
        <td>No of bags: {{nbags}}</td>
    </tr>
    <tr>   
        <td>Total Charges for {{nbags}} bags in INR: {{total}}</td>
    </tr>
    
</table>
{% endfor %}
<p>
    
</p>
{% endblock %}