{% extends 'base.html' %}
{% block title %}
Invoice
{% endblock %}
{% block content %}
<head>
    <body>
        <h1><center>Invoice</center></h1>
    <h2>{{country}}/{{coffee}}</h2>
   
{% for c in imports %}
<table class="table table-bordered">
    {% csrf_token %}
    <tr>
        <td>Coffee name: <b>{{c.Coffee_name}}</b></td>
    </tr>
    <tr>
        <td>Country name:<b> {{c.name}}</b></td>
    </tr>
    <tr>
        <td>Coffee Rate in $:<b> {{c.I_coffeerate}}</b></td>
    </tr>
    <tr>
        <td>Coffee Rate in INR:<b> {{c.I_rate_in_INR}}</b></td>
    </tr>
    <tr>
        <td>Custom duty charges:<b> {{c.I_customduty_charges}}</b></td>
    </tr>  
    <tr>   
        <td>Total Charges in INR:<b> {{c.I_total_charges}}</b></td>
    </tr>
    <tr>   
        <td>No of bags:<b> {{nbags}}</b></td>
    </tr>
    <tr>   
        <td>Total Charges for {{nbags}} bags in INR:<b> {{total}}</b></td>
    </tr>
    
</table>
{% endfor %}
<p>
    
</p>
</body>
</head>
{% endblock %}